[train] #train parameters
epoch = 32
batch_size = 64

shuffle = True

reader_num = 8

optimizer = adam
learning_rate = 1e-3
step_size = 1
lr_multiplier = 0.95

[eval] #eval parameters
batch_size = 64

shuffle = False

reader_num = 4

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = WordFormatter
train_data_path = data/cutted
train_file_list = 0_train.json,1_train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = WordFormatter
valid_data_path = data/cutted
valid_file_list = 0_valid.json,1_valid.json

test_dataset_type = JsonFromFiles
test_formatter_type = WordFormatter
test_data_path = data/cutted
test_file_list = 0_test.json,1_test.json

max_question_len = 512
max_option_len = 256

word2id = data/word2id.txt

[model] #model parameters
model_name = Model

hidden_size = 256
bi_direction = True
num_layers = 2

[output] #output parameters
output_time = 1
test_time = 1

model_path = data/model
model_name = model

tensorboard_path = data/tensorboard

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision
